<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <ion-list *ngFor="let item of todos | filter:filterTerm">
    <ion-item>
      <ion-label>{{item.id}}.{{item.title}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
